<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="origin.component.scss">
</head>
<body>
    <router-outlet></router-outlet>
    <img style="float:left; margin-right:10px; margin-top:20px; margin-left:10px;" src="https://www.chinesefortunecalendar.com/ChineseNewYear/Images/JadeKing300.jpg" alt="jade emperor">
    <p>A long time ago, in China, the Jade Emperor decided that there should be a way to measure time. He told the animals they were to compete in a race. The first 12 animals would be rewarded by having a year named after them.</p>
<p>On the day of the race, all the animals lined up beside the river. The rat and the cat, who were good friends, were worried as they were not very good at swimming. They asked the ox if he would carry them across on his back. The ox agreed and they jumped on his back. When the race started, the rat and the cat were very pleased that the ox took the lead.</p>
<p>
    Just when they were about to reach the riverbank, the rat pushed the cat into the water! The rat jumped off the ox and landed on the other side - finishing first.

    “Well done!” said the Jade Emperor to the rat. “The first year of the zodiac will be named after you.”
</p>
<img src="https://images.twinkl.co.uk/tw1n/image/private/t_630/u/ux/zodiac2_ver_1.jpg" alt="cat and rat" style="float:right; margin-right:10px; margin-top:20px; margin-left:10px; width:300px; height:300px">
<p>
    The poor ox was tricked into second place, and so the second year of the zodiac was named after him.
</p>
<p>
    Shortly after, the exhausted tiger arrived at the riverbank. Swimming the river had been very difficult, as she had to fight strong currents.
</p>
<p>
    The next to arrive was the rabbit, who hadn’t swum across but hopped across on some stepping stones and then onto a floating log that carried him to the riverbank. “I shall name the fourth year after you,” the Jade Emperor said, cheerfully.
</p>
<p>
    Taking fifth place was the dragon. “How come you didn’t win the race, when you could fly across?” the Emperor asked.

“I stopped to help some animals,” the smiling dragon explained.
</p>
<p>
    Next, travelling quickly towards the finish line, was the horse. Just as the Jade Emperor thought the horse would cross, the snake wriggled around one of the horse’s hooves. The horse was so surprised that they jumped back, giving the snake a chance to slither forward and take sixth place. The horse made it for seventh place.
</p>
<p>
    Not long after, a rather well-constructed raft made its way to the riverbank carrying the monkey, the rooster and the goat. They explained how they had worked as a team to get across. The Emperor was very pleased. He said the goat would be the eighth year, the monkey the ninth and the rooster the tenth.
</p>
<p>
    Splashing happily onto the shore next was the dog. “What took you so long, when you’re such a good swimmer?” asked the Emperor.

“The river was so lovely and fresh that I decided to have a bath along the way,” the dog explained. She was rewarded with the eleventh year.
</p>
<p>
    There was one place left in the zodiac. The sun was setting, and the Emperor wondered who the last winner would be. All the animals and the Emperor had their eyes on the horizon, waiting for the last animal to appear...
</p>
<p>
    All of a sudden, everyone heard a scuffle, a squeak and an oink.

The pig turned up! “You took a long time. What happened?” the Emperor asked.

“I was hungry and stopped to eat, then I fell asleep,” said the pig. And so, the twelfth year was given to the pig.
</p>
<p>
    As for the poor cat, he finally crawled out of the river, soaking wet and tired. But, he was too late to have a year named after him. The cat was very angry with the rat for pushing him in the water. Since then, cats have disliked water and have never been friends with rats!
</p>
</body>
</html>